{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div>
    <a class="btn btn-primary" href="{% url 'edit_profile'%}">🚀Edit Your Profile🚀</a>
</div>
<div class="container mt-4">
    <div class="row justify-content-center">
        {% for post in data %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-0 rounded-4 overflow-hidden">
                <div class="card-body p-4">
                    <h5 class="card-title fw-bold text-primary">{{ post.title }}</h5>
                    <p class="card-text text-muted">{{ post.content|truncatewords:15 }}</p>
                    <p class="card-text">
                        <strong class="text-secondary">Category:</strong>
                        {% for cat in post.category.all %}
                            <span class="badge bg-warning text-dark">{{ cat.name }}</span>
                        {% endfor %}
                    </p>
                    <p class="text-end text-secondary small">Author: <strong>{{ post.author.first_name }} {{ post.author.last_name }}</strong></p> 
                    <p><small > {{ post.created_at|date:"M d, Y H:i:s" }}</small></p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class ="d-flex gap-3">
                            <a href="{% url 'read_post' post.id%}" class="btn btn-outline-primary btn-sm rounded-pill">Read More</a>
                            <a href="{% url 'edit_post' post.id%}" class="btn btn-outline-primary btn-sm rounded-pill">Edit</a>
                            <a href="{% url 'delete_post' post.id%}" class="btn btn-outline-danger btn-sm rounded-pill">Delete</a>
                           
                        </div>
                        <span class="text-muted small">📅</span>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
